@charset "utf-8";

/* メインとなる全体のデザイン */
h1.main-style {
	padding: 0.5em;
	color: #010101;
	background: #eaf3ff;
	border-bottom: solid 3px #516ab6;
}

h2.main-style {
	font-size: 21;
	padding: 0.25em 0.5em;
	color: #494949;
	background: transparent;
	border-left: solid 5px #7db4e6;
}

h3.main-style {
	margin-top: 2.5em;
	margin-bottom: 2em;
	position: relative;
	padding: 0.6em;
	background: #e0edff;
}

hr {
	border-top: 3px solid #7db4e6;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

#in-1 table {
	        border-collapse: collapse;
	}
#in-1 th,
#in-1 td {
	border: 1px solid #8fbac8;
	padding: 8px;
}

#in-2 a:hover img {
	opacity: 0.5;
}
#in-2 a:active img {
	color:#3bb1ec
}

#cy-1 .headline {
	text-align: center;
}

#cy-1 .lead {
	font-weight: bold;
}

#in-1 .headline {
	text-align: center;
}

#in-1 .lead {
	font-weight: bold;
}